<!-- EXTENDS BASE.HTML TEMPLATE -->
{% extends "Core/base.html" %}

<!-- LOAD STATIC -->
{% load static %}

<!-- CODE OF BODY PAGE -->
{% block content %}

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto col-lg-5">
    <div class="card rounded-3 pb-3 pt-3">
        <p class="dancing display-4 text-center"> Inició de Sesión </p>
        <hr class="mt-4 mb-5" style="width: 35%; margin: auto;">
        <form class="mx-5" method="POST" action=""> {% csrf_token %}
            <table class="mb-4 raleway">
                {{ form.as_table }}
            </table>
            <button type="submit" id="submit" class="zoom btn btn-outline-success">Login</button>
        </form>

        <div class="row mt-4 text-end mx-3">
            <small class="font-weight-bold ">No tienes cuenta?
                <a href="{% url 'register' %}" class="text-danger ">Registrate !</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}