{% load static %}

<!DOCTYPE html>
<html lang="es">

    <head>
        <!--TITLE-->
        {% block title %} {% endblock %}

        <!--META'S-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximumscale=1.0" />
        <meta name="author" content="FranckyCastell">
        <meta name="description" content="Fermy Academy WEB">

        <!--FAVICON-->
        <link rel="icon" type="image/png" href="{% static 'Core/assets/favicon.png'%}">

        <!--CDN BOOTSTRAP-->
        <link rel="stylesheet" href="{% static 'Core/css/bootstrap.min.css'%}" />

        <!--ICONS BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

        <!--ICONS FONTAWESOME-->
        <script src="https://kit.fontawesome.com/727ffcfd8d.js" crossorigin="anonymous"></script>

        <!--OWN CSS-->
        <link rel="stylesheet" href="{% static 'Core/css/styles.css'%}" />

        <!--EXTRA CSS-->
        {% block extra %}  {% endblock %}
    </head>

    <body>

        <!-- NAV TEMPLATE  -->
            {% include "Core/nav.html" %}
        <!-- END NAV TEMPLATE  -->


        <!-- MAIN TEMPLATE  -->
            {% block content %}
            {% endblock %}
        <!-- END MAIN TEMPLATE  -->


        <!-- FOOTER TEMPLATE  -->
            {% include "Core/footer.html" %}
        <!-- END FOOTER TEMPLATE  -->

    </body>

</html>