{% load static %}

<footer class="footer text-center">
    <div class="container-flex">
        <ul class="list-inline pt-4" style="background-color: #00838F;">
            <li class="list-inline-item mx-3 zoom">
                <a href="https://twitter.com/" aria-label="Twitter" class="social-link rounded-circle mr-3 text-white"><i
                        class="fab fa-twitter fa-2x"></i></a>
            </li>

            <li class="list-inline-item mx-3 zoom">
                <a href="https://www.instagram.com/" aria-label="Instagram" class="social-link rounded-circle mr-3 text-white"><i
                        class="fab fa-instagram fa-2x"></i></a>
            </li>

            <li class="list-inline-item mb-3 mx-3 zoom">
                <a href="https://es-es.facebook.com/" aria-label="Facebook" class="social-link rounded-circle text-white"><i
                        class="fab fa-facebook-f fa-2x"></i></i></a>
            </li>

            <p class="raleway text-white small pt-4 pb-4" style="background-color: #006972;">Copyright &copy; Fermy Academy
            </p>
        </ul>
    </div>
</footer>

<!--JS BOOTSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<!-- OWN JS -->
<script src="{% static 'Core/js/app.js'%}"></script>