<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mx-3 dancing" href="{% url 'home' %}" style="font-size: 25px;">Fermy Academy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <span class="mx-1 d-none d-md-block" style="font-size: 25px;">|</span>

        <div class="mx-1 collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto raleway">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'courses' %}">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'reserve' %}">Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'contact' %}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'about' %}">Sobre Nosotros</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mx-3">
                {% if request.user.is_authenticated %}
                    <li class="sidebar-nav-item bg-dark"><a type="button" class="btn btn-primary zoom" href="{% url 'profile' %}">Mi área Personal</a></li>
                {% else %}
                    <li class="sidebar-nav-item bg-dark"><a type="button" class="btn btn-success zoom" href="{% url 'login' %}">Acceder / Registrarse</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>