{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> Contacto </title> {% endblock %}

{% block content %}

<main class="container">
    <div class="row mt-5">
        <section class="col-12">
            <p class="dancing text-center display-4"> Formulario de Contacto </p>
        </section>
    </div>

    <hr class="mt-4 mb-3" style="width: 50%; margin: auto;">

    <div class="row mt-5">
        <section class="col-md-6 col-sm-12 lead raleway fw-bold fs-6">
            <form action="" method="post"> {% csrf_token %}
                <div class="fieldWrapper">
                    <label style="width: 100%;" for="{{ form.name.id_for_label }}">Nombre Completo
                        {{ form.name }}
                    </label>
                </div>

                <div class="fieldWrapper mt-3">
                    <label style="width: 100%;" for="{{ form.email.id_for_label }}">Email
                        {{ form.email }}
                    </label>
                </div>

                <div class="fieldWrapper mt-3">
                    <label style="width: 100%;" for="{{ form.phone.id_for_label }}">Teléfono
                        {{ form.phone }}
                    </label>
                </div>

                <div class="fieldWrapper mt-3">
                    <label style="width: 100%;" for="{{ form.email.id_for_label }}">Mensaje
                        {{ form.message }}
                    </label>
                </div>

                <button type="submit" class="btn btn-outline-success mt-3 zoom"> Enviar </button>
            </form>
        </section>

        <section class="col-md-6 col-sm-12 text-center d-none d-md-block">
            <img src="{% static 'Core/assets/img/contact.png' %}" alt="Contact Image"
                style="max-width: 80%; height: 80%;">
        </section>
    </div>
    <hr class="mb-5">
</main>

{% endblock %}