{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> Sobre Nosotros </title> {% endblock %}

{% block content %}

<main class="container">
    <section class="row">

        <div class="row mt-5">
            <section class="col-12">
                <p class="dancing text-center display-4"> Sobre Nosotros </p>
            </section>
        </div>

        <hr class="mt-4 mb-3">

        {% for user in users %}

            <div class="card col-md-4 col-sm-12 mt-5 mb-5 mx-3" style="width: 18rem;">
                <img src="{{user.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-warning text-center zoom"> {{user.name}} </h5>
                    <hr>
                    <p class="card-text"> {{user.description}} </p>
                </div>

                <hr>

                <div class="text-center mt-3">
                    <ul class="list-inline text-centre">
                        <li class="list-inline-item mx-3 zoom">
                            <a aria-label="Twitter" class="social-link rounded-circle mr-3 text-white" href=""><i
                                    class="fab fa-twitter fa-2x"></i></a>
                        </li>
            
                        <li class="list-inline-item mx-3 zoom">
                            <a aria-label="Instagram" class="social-link rounded-circle mr-3 text-white" href=""><i
                                    class="fab fa-instagram fa-2x"></i></a>
                        </li>
            
                        <li class="list-inline-item mb-3 mx-3 zoom">
                            <a aria-label="Facebook" class="social-link rounded-circle text-white" href=""><i
                                    class="fab fa-facebook-f fa-2x"></i></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        
        {% endfor %}

    </section>
</main>

{% endblock %}