{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> Perfil </title> {% endblock %}

{% block content %}

<main class="container">
    <section class="row">

        <div class="mt-5">
            <section class="col-12">
                <p class="dancing text-center display-4"> Área Personal </p>
            </section>
        </div>

        <hr class="mt-4 mb-3" style="width: 50%; margin: auto;">

    </section>

    <section class="row">
        <div class="col-12">
            <span class="raleway mt-4 fs-4 fw-bold">Usuario:&nbsp</span>
            <span class="raleway mb-3 fs-4 fw-bold text-decoration-underline"> {{user.username}}</span>
        </div>
    </section>

    <section class="row mb-4">
        <div class="col-12 card text-white bg-secondary mb-3 raleway mt-3">
            <div class="card-header fs-4 fw-bold mt-3">Mis Cursos :</div>
            <div class="card-body">
                <p class="card-text mb-4">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

                <hr class="mt-4 mb-3" style="width: 25%; margin: left;">

                {% for profile in profile %}
                <p class="fw-bold text-success"> - {{profile.cursos}} </p>
                <p class="mx-5"> {{profile.description}} </p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}